extends ../layout

block content
    a(href='/blobs/') All Blobs
    h1.
        Infophoto #{blob._id}
    p Name: #{blob.name}
    p Badge: #{blob.badge}
    p DOB: #{blobdob}
    p Is Loved: #{blob.isloved}